main{
  width: 80%;
  margin: auto;
  max-width: 800px;
}

body{
  text-align: center;
  font-family: Arial;
  background-color: #eef1e9;
  color: #2c3e3a;
}

p{
  font-size: 15px;
  font-family: Georgia;
}

header{
  background-color: #a8b9a1;
  padding: 20px;
}

#header-title{
  color: #2c3e3a;
  font-weight: 900;
}

h1{
  margin: 0;
  color: white;
  font-size: 30px;
}

h2{
  Font-size: 25px;
  color: #3e5948;
}

.page-title{
  font-size: 25px;
  font-weight: 800;
  padding: 10px;
}

.table-content{
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

nav ul{
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

nav ul li{
  display: inline;
  margin: 0 15px;
}

nav ul li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a:hover{
  background-color: #3e5948;
  border-radius: 5px;
  padding: 10px;
}

footer{
  background: #a8b9a1;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

#footer{
  font-family: Arial;
  font-weight: 550;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  background: none; 
}

.table-container{
  margin: 20px;
  max-weidth: 80%;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #3e5948;
  text-align: left;
}

thead{
  position: sticky;
}

th{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #527156
}

td{
  padding: 20px;
  border-bottom: 1px solid #527156
}

td a{
  text-decoration: none;
  color: #2c3e3a;
  border: transparent;
}

td a:hover{
  color: #527156;
  border: 2px solid #527156; 
  border-radius: 5px;
}

.container{
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  display: grid;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
}

.external-sites{
  background-color: #ffff;
  border: 1px solid #dddd;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px;
}

.external-sites img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.external-sites p{
  margin: 0;
  font-size: 14px;
  color: #2c3e3a;
}

.report-img img{
  padding: 25px;
  max-width: 500px;
  height: auto;
}

.report-content{
  text-align: left;
}



