body{
  text-align: center;
  font-family: Arial;
  margin: 20px;
  padding: 0 20px;
  background-color: #eef1e9;
  color: #2c3e3a;
}

p{
  font-size: 15px;
  font-family: Georgia;
}

header{
  background-color: #a8b9a1;
  padding: 20px;
}

#main{
  color: #2c3e3a;
  font-weight: 900;
}

#footer{
  font-family: Arial;
  font-weight: 550;
}

h1{
  margin: 0;
  color: white;
  font-size: 30px;
}

h2 {
  font-size: 25px;
  color: #3e5948;
}

.page-title{
  font-size: 25px;
  font-weight: 800;
  padding: 10px;
}

.table-content{
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

nav ul{
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

nav ul li{
  display: inline;
  margin: 0 15px;
}

nav ul li a{
  color: white;
  font-size: 20px;
}

nav ul li a:hover{
  background-color: #3e5948;
  border-radius: 5px;
  padding: 10px;
}

footer{
  background: #a8b9a1;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  background: none; 
}

.table-container{
  margin: 20px;
  max-weidth: 80%;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #3e5948;
  text-align: left;
}

thead{
  position: sticky;
}

th{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #527156
}

td{
  padding: 10px;
  border-bottom: 1px solid #527156
}

td a {
  text-decoration: none;
  color: #2c3e3a;
  border: transparent;
}

td a:hover {
  color: #527156;
  border: 2px solid #527156; 
  border-radius: 5px;
}

