body{
  text-align: center;
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #eef1e9;
  color: #2c3e3a;
}

header{
  background-color: #a8b9a1;
  padding: 20px;
}

#main{
  color: #2c3e3a;
  font-weight: 900;
}

h1{
  margin: 0;
  color: white;
  font-size: 30px;
}

h2 {
  font-size: 25px;
  color: #3e5948;
}

.table-title{
  font-size: 25px;
  font-weight: 800;
  padding: 10px;
  text-decoration: underline;
}

.table-content{
  font-size: 18px;
  text-alignL left;
  padding: 8px;
}

nav ul{
  padding: 0;
  margin: 10px 0;
}

nav ul li{
  display: inline;
  margin: 0 15px;
}

nav ul li a{
  color: white;
  font-size: 20px;
}

nav ul li a:hover{
  background-color: #3e5948;
  border-radius: 5px;
  padding: 10px;
}

footer{
  background: #a8b9a1;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  background: none; 
}

td{
    padding: 10px;
}

td a {
  text-decoration: none;
  color: #2c3e3a;
  border: transparent;
}

td a:hover {
  color: #527156;
  border: 2px solid #527156; 
  border-radius: 5px;
}
